<article class="card" itemscope itemtype="http://schema.org/Article">
  <p class="card-excerpt" itemprop="name" style="margin: 4px">
    {% if include.icon %}<i class="{{ include.icon }}"></i> {% endif %}<a href="{{ site.chvote-root-url }}/{{ include.url }}" target="_blank">{{ include.title }}</a>
  </p>
</article>
