<footer role="contentinfo" id="site-footer">
  <hr/>
  <img src="https://ictacademy-post.gitlab.io/prototype/images/logo.svg" style="height: 64px; margin-right: 2rem"/>
  <div style="float: right; font-size:0.68rem">
    ICT Academy Post<br/>
    Webergutstrasse 12<br/>
    3052 Zollikofen<br/>
    E-Mail: ictacademy@post.ch<br/>
  </div>

</footer>
